@font-face {
	font-family: "mochi-serif";
	src: local(Copernicus),
		url(https://rawcdn.githack.com/marcoms/mochi-config/6aaf31e8b59ab98e9d824dd8986c803e23cc141a/fonts/mochi-med.otf);
}

@font-face {
	font-family: "mochi-serif";
	font-weight: bold;
	src: local(Copernicus),
		url(https://rawcdn.githack.com/marcoms/mochi-config/6aaf31e8b59ab98e9d824dd8986c803e23cc141a/fonts/mochi-bold.otf);
}

.memo_markdown_styles_markdown-class {
	font-family: "mochi-serif" !important;
	font-weight: 500 !important;

	.paragraph {
		line-height: 1.5 !important;
	}
}
